{% extends 'base.html' %}

{% block content %}

<div class="container col-md-offset-2 col-md-8 body">
    <h2 class="text-left title-text">Overview</h2>
    <p>Below are tables that summarize all of the nationally competitive scholarships and grad schools to which I have applied. I have also included links to download the materials that I used to apply, for the benefit of future applicants. If you find these materials useful, please consider sharing your own materials and experiences. If GitHub is easier for you, all of the materials are available at <a href="https://github.com/TShimko126/AcademicApplications">https://github.com/TShimko126/AcademicApplications</a>.</p>
    <h4 class="text-left title-text">Undergraduate</h4>
    <table class="table table-hover">
        <tr class="active">
            <th class="text-center">Program</th>
            <th class="text-center">Academic Year</th>
            <th class="text-center">Apply</th>
            <th class="text-center">Endorse</th>
            <th class="text-center">Award</th>
            <th class="text-center">Materials</th>
        </tr>
        <tr class="success">
            <td><a href="https://goldwater.scholarsapply.org/">Barry Goldwater Scholarship</a></td>
            <td>Sophomore</td>
            <td class="text-center"><span class="octicon octicon-check"></span></td>
            <td class="text-center"><span class="octicon octicon-check"></span></td>
            <td class="text-center"><span class="octicon octicon-check"></span></td>
            <td class="text-center"><a href="https://github.com/TShimko126/AcademicApplications/raw/master/ShimkoGoldwaterApp.pdf"><span class="octicon octicon-cloud-download"></span></a></td>
        </tr>
    </table>
    <h4 class="text-left title-text">UK Fellowships</h4>
    <table class="table table-hover">
        <tr class="active">
            <th class="text-center">Program</th>
            <th class="text-center">Academic Year</th>
            <th class="text-center">Apply</th>
            <th class="text-center">Endorse</th>
            <th class="text-center">Interview</th>
            <th class="text-center">Award</th>
            <th class="text-center">Materials</th>
        </tr>
        <tr class="danger">
            <td><a href="http://www.winstonchurchillfoundation.org/scholarship.html">Churchill Scholarship</a></td>
            <td>Senior</td>
            <td class="text-center"><span class="octicon octicon-check"></span></td>
            <td class="text-center"><span class="octicon octicon-check"></span></td>
            <td class="text-center"><span class="octicon octicon-x"></span></td>
            <td class="text-center"><span class="octicon octicon-x"></span></td>
            <td class="text-center"><a href="https://github.com/TShimko126/AcademicApplications/raw/master/ShimkoChurchillApp.pdf"><span class="octicon octicon-cloud-download"></span></a></td>
        </tr>
        <tr class="danger">
            <td><a href="http://www.gatescambridge.org/">Gates Cambridge Scholarship</a></td>
            <td>Senior</td>
            <td class="text-center"><span class="octicon octicon-check"></span></td>
            <td class="text-center"><span class="octicon octicon-dash"></span></td>
            <td class="text-center"><span class="octicon octicon-x"></span></td>
            <td class="text-center"><span class="octicon octicon-x"></span></td>
            <td class="text-center"><a href="https://github.com/TShimko126/AcademicApplications/raw/master/ShimkoCambridgeApp.pdf"><span class="octicon octicon-cloud-download"></span></a></td>
        </tr>
        <tr class="danger">
            <td><a href="http://www.marshallscholarship.org">Marshall Scholarship</a></td>
            <td>Senior</td>
            <td class="text-center"><span class="octicon octicon-check"></span></td>
            <td class="text-center"><span class="octicon octicon-check"></span></td>
            <td class="text-center"><span class="octicon octicon-x"></span></td>
            <td class="text-center"><span class="octicon octicon-x"></span></td>
            <td class="text-center">
                <a href="http
s://github.com/TShimko126/AcademicApplications/raw/master/ShimkoMarshallApp.pdf"><span class="octicon octicon-cloud-download"></span></a></td>
        </tr>
    </table>
    <h4 class="text-left title-text">Predoctoral Fellowships</h4>
    <table class="table table-hover">
        <tr class="active">
            <th class="text-center">Program</th>
            <th class="text-center">Academic Year</th>
            <th class="text-center">Apply</th>
            <th class="text-center">Interview 1</th>
            <th class="text-center">Interview 2</th>
            <th class="text-center">Award</th>
            <th class="text-center">Materials</th>
        </tr>
        <tr class="danger">
            <td><a href="http://www.krellinst.org/csgf/">DOE CSGF</a></td>
            <td>Senior</td>
            <td class="text-center"><span class="octicon octicon-check"></span></td>
            <td class="text-center"><span class="octicon octicon-dash"></span></td>
            <td class="text-center"><span class="octicon octicon-dash"></span></td>
            <td class="text-center"><span class="octicon octicon-x"></span></td>
            <td class="text-center"><a href="https://github.com/TShimko126/AcademicApplications/raw/master/ShimkoCSGFApp.pdf"><span class="octicon octicon-cloud-download"></span></a></td>
        </tr>
        <tr class="danger">
            <td><a href="http://www.hertzfoundation.org/dx/fellowships/fellowshipaward.aspx">Hertz Fellowship</a></td>
            <td>Senior</td>
            <td class="text-center"><span class="octicon octicon-check"></span></td>
            <td class="text-center"><span class="octicon octicon-check"></span></td>
            <td class="text-center"><span class="octicon octicon-x"></span></td>
            <td class="text-center"><span class="octicon octicon-x"></span></td>
            <td class="text-center"><a href="https://github.com/TShimko126/AcademicApplications/raw/master/ShimkoHertzApp.pdf"><span class="octicon octicon-cloud-download"></span></a></td>
        </tr>
        <tr class="success">
            <td><a href="http://www.nsfgrfp.org/">NSF GRFP</a></td>
            <td>Senior</td>
            <td class="text-center"><span class="octicon octicon-check"></span></td>
            <td class="text-center"><span class="octicon octicon-dash"></span></td>
            <td class="text-center"><span class="octicon octicon-dash"></span></td>
            <td class="text-center"><span class="octicon octicon-check"></span></td>
            <td class="text-center"><a href="https://github.com/TShimko126/AcademicApplications/raw/master/ShimkoNSFApp.pdf"><span class="octicon octicon-cloud-download"></span></a></td>
        </tr>
    </table>
    <h4 class="text-left title-text">Graduate Schools</h4>
    <table class="table table-hover">
        <tr class="active">
            <th class="text-center">School</th>
            <th class="text-center">Program</th>
            <th class="text-center">Academic Year</th>
            <th class="text-center">Apply</th>
            <th class="text-center">Interview</th>
            <th class="text-center">Admit</th>
            <th class="text-center">Materials</th>
        </tr>
        <tr class="success">
            <td><a href="http://www.ccbi.cam.ac.uk/Education/MPhil/">University of Cambridge </a></td>
            <td>Computational Biology MPhil</td>
            <td>Senior</td>
            <td class="text-center"><span class="octicon octicon-check"></span></td>
            <td class="text-center"><span class="octicon octicon-check"></span></td>
            <td class="text-center"><span class="octicon octicon-check"></span></td>
            <td class="text-center"><a href="https://github.com/TShimko126/AcademicApplications/raw/master/ShimkoCambridgeApp.pdf"><span class="octicon octicon-cloud-download"></span></a></td>
        </tr>
        <tr class="success">
            <td><a href="http://www.ibis.northwestern.edu/">Northwestern University </a></td>
            <td>IBiS PhD</td>
            <td>Senior</td>
            <td class="text-center"><span class="octicon octicon-check"></span></td>
            <td class="text-center"><span class="octicon octicon-check"></span></td>
            <td class="text-center"><span class="octicon octicon-check"></span></td>
            <td class="text-center"><a href="https://github.com/TShimko126/AcademicApplications/raw/master/ShimkoNorthwesternApp.pdf"><span class="octicon octicon-cloud-download"></span></a></td>
        </tr>
        <tr class="success">
            <td><a href="http://genetics.stanford.edu/">Stanford University </a></td>
            <td>Genetics PhD</td>
            <td>Senior</td>
            <td class="text-center"><span class="octicon octicon-check"></span></td>
            <td class="text-center"><span class="octicon octicon-check"></span></td>
            <td class="text-center"><span class="octicon octicon-check"></span></td>
            <td class="text-center"><a href="https://github.com/TShimko126/AcademicApplications/raw/master/ShimkoStanfordApp.pdf"><span class="octicon octicon-cloud-download"></span></a></td>
        </tr>
        <tr class="success">
            <td><a href="http://www.genetics.ucla.edu/">UCLA </a></td>
            <td>Genetics and Genomics PhD</td>
            <td>Senior</td>
            <td class="text-center"><span class="octicon octicon-check"></span></td>
            <td class="text-center"><span class="octicon octicon-check"></span></td>
            <td class="text-center"><span class="octicon octicon-check"></span></td>
            <td class="text-center"><a href="https://github.com/TShimko126/AcademicApplications/raw/master/ShimkoUCLAApp.pdf"><span class="octicon octicon-cloud-download"></span></a></td>
        </tr>
        <tr class="success">
            <td><a href="http://ipqb.ucsf.edu/">UCSF </a></td>
            <td>iPQB PhD</td>
            <td>Senior</td>
            <td class="text-center"><span class="octicon octicon-check"></span></td>
            <td class="text-center"><span class="octicon octicon-check"></span></td>
            <td class="text-center"><span class="octicon octicon-check"></span></td>
            <td class="text-center"><a href="https://github.com/TShimko126/AcademicApplications/raw/master/ShimkoUCSFStatementofPurpose.pdf"><span class="octicon octicon-cloud-download"></span></a></td>
        </tr>
        <tr class="danger">
            <td><a href="http://bioinformatics.ucsd.edu/">UCSD</a></td>
            <td>Bioinformatics PhD</td>
            <td>Senior</td>
            <td class="text-center"><span class="octicon octicon-check"></span></td>
            <td class="text-center"><span class="octicon octicon-x"></span></td>
            <td class="text-center"><span class="octicon octicon-x"></span></td>
            <td class="text-center"><a href="https://github.com/TShimko126/AcademicApplications/raw/master/ShimkoUCSDStatementofPurpose.pdf"><span class="octicon octicon-cloud-download"></span></a></td>
        </tr>
        <tr class="success">
            <td><a href="http://www.gs.washington.edu/">University of Washington</a></td>
            <td>Genome Sciences PhD</td>
            <td>Senior</td>
            <td class="text-center"><span class="octicon octicon-check"></span></td>
            <td class="text-center"><span class="octicon octicon-check"></span></td>
            <td class="text-center"><span class="octicon octicon-check"></span></td>
            <td class="text-center"><a href="https://github.com/TShimko126/AcademicApplications/raw/master/ShimkoWashingtonStatementofPurpose.pdf"><span class="octicon octicon-cloud-download"></span></a></td>
        </tr>
    </table>
</div>

{% endblock %}
