{% extends 'base.html' %}

{% block content %}
<div class="container header">
    <h1 class="text-center header-text">Projects</h1>
</div>

<div class="container col-md-offset-2 col-md-8 body">
    <h2 class="text-left title-text"><em>COPASutils</em></h2>
    <p>An R package for the reading, processing, and visualization of data obtained from the Union Biometrica Complex Object Parametric Analyzer and Sorter (COPAS) platform large-particle flow cytometers and a powerful suite of functions for the rapid processing and analysis of large high-throughput screening data sets. It combines the speed of <em>dplyr </em>with the elegance of <em>ggplot2 </em>to make analysis of COPAS data fast and painless.</p>
    <div class="row">
        <div class="col-sm-4 text-center"><span class="glyphicon glyphicon-file"><p><a href="http://www.plosone.org/article/info%3Adoi%2F10.1371%2Fjournal.pone.0111090">COPASutils Paper</a></p></span></div>
        <div class="col-sm-4 text-center"><span class="octicon octicon-mark-github"><p><a href="https://github.com/AndersenLab/COPASutils">COPASutils on GitHub</a></p></span></div>
        <div class="col-sm-4 text-center"><span class="glyphicon glyphicon-file"><p><a href="https://andersenlab.github.io/COPASutils">COPASutils Vignette</a></p></span></div>
    </div>
</div>
<div class="container col-md-offset-2 col-md-8 body">
    <h2 class="text-left title-text">Scholarship Odds</h2>
    <p>A look at the odds of winning several nationally competitive scholarships.</p>
    <div class="row">
        <div class="col-sm-6 text-center"><span class="glyphicon glyphicon-file"><p><a href="/pages/scholarship_odds.html">Analysis</a></p></span></div>
        <div class="col-sm-6 text-center"><span class="glyphicon glyphicon-hdd"><p><a href="https://github.com/TShimko126/ScholarshipAnalysis">Get the raw data</a></p></span></div>
    </div>
</div>
<div class="container col-md-offset-2 col-md-8 body">
    <h2 class="text-left title-text">Application Materials</h2>
    <p>During the 2014-2015 I completed applications for graduate schools and pre-doctoral fellowships. Here, you can check out the results of these applications. In the interest of transparency, and following in the footsteps of professors who have opened up their grant applications, I have also included download links for application materials. If you find these materials useful in constructing your own application, please consider sharing your own materials for the benefit of others.</p>
    <div class="row"></div>
    <div class="col-sm-12 text-center"><span class="glyphicon glyphicon-file"><p><a href="/pages/applications.html">Applications</a></p></span></div>
</div>

{% endblock %}
